@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.section-title {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 12px;
  position: absolute;
  top: -16px;
}

.collection,
.utility {
  position: relative;
}

.collection {
  width: 100%;
}

.utility {
  margin-left: 0 2rem;
  width: 28rem;
  @include flex(column, flex-start, center);
}
