@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.yourmovies {
  height: 60vh;

  &__loading {
    @include flex(row, center, center);
    width: 100%;
  }

  &__section {
    margin: 3rem 0;
  }

  &__filter {
    @include flex(row, flex-start, center);
    margin: 1rem 0;

    li {
      margin-right: 2rem;
      font-size: 14px;
    }
  }

  &__list {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    width: 100%;
    min-height: 10rem;
  }

  &__movieContainer {
    position: relative;
  }

  &__score {
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    background-color: $primary-colour;
    text-align: center;
    border-radius: 3px;
    right: 30px;
    bottom: 2px;
    p {
      color: $tertiary-colour;
      padding: 0;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  &__movie {
    width: 6rem;
    height: 7.6rem;
    border-radius: 3px;
    margin: 2px;
    background-color: $secondary-colour;
    color: $primary-colour;
    opacity: 70%;

    &:hover {
      opacity: 100%;
      cursor: pointer;
      z-index: 0;
    }
  }

  &__delete {
    padding: 4px 8px;
    background-color: $tertiary-colour;
    color: $primary-colour;
    border: none;
    outline: none;
    border-radius: 3px;
    &:hover {
      background-color: $secondary-colour;
    }
  }
}
