@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.yourmovies {
  margin: 1rem 0;
  height: 60vh;

  &__loading {
    @include flex(row, center, center);
    width: 100%;
  }

  &__list {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    width: 100%;
    min-height: 10rem;
  }

  &__movie {
    width: 6rem;
    height: 7.6rem;
    border-radius: 3px;
    margin: 2px;
    background-color: $secondary-colour;
    color: $primary-colour;
  }

  &__index {
    padding: 2px;
    font-size: 10px;
  }

  &__delete {
    padding: 4px 8px;
    background-color: $tertiary-colour;
    color: $primary-colour;
    border: none;
    outline: none;
    border-radius: 3px;
    &:hover {
      background-color: $secondary-colour;
    }
  }
}
