@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.result {
  background-color: $secondary-colour;
  color: $primary-colour;
  margin: 4px 0;
  border-radius: 3px;
  width: 100%;
  height: 6rem;
  background-size: cover;
  background-position: center;
  opacity: 60%;

  &:hover {
    cursor: pointer;
    opacity: 100%;
  }

  &__content {
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, center);
    opacity: 0;
    border-radius: 3px;
    &:hover {
      opacity: 100%;
    }
  }

  &__details {
    width: 100%;
    background-color: $primary-colour;
    @include flex(row, center, center);
    border-bottom: 4px solid $tertiary-colour;

    p {
      color: $secondary-colour;
      padding: 0 4px;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}
